
<div class="row row-cols-1 row-cols-md-2 g-4">
<div class="col">
<div class="card" style="width: 18rem;">

<%= image_tag city.image if city.image.attached? %>


<div id="<%= dom_id city %>">
<div class="card-body">
<p>
    <strong>Name:</strong>
    <%= city.name %>
  </p>
  
  
  <p>
    <strong>Country:</strong>
    <%= city.country %>
  </p>

  <p>
    <strong>Highlights:</strong>
    <%= city.highlights %>
  </p>

</div>
</div>
</div>
</div>
</div>
</div>


