
<div class="container">

<%= image_tag city.image if city.image.attached? %>


<div id="<%= dom_id city %>">


<p>
    <strong>Name:</strong>
    <%= city.name %>
  </p>
  
  
  <p>
    <strong>Country:</strong>
    <%= city.country %>
  </p>

  <p>
    <strong>Highlights:</strong>
    <%= city.highlights %>
  </p>

</div>

</div>
