<div id="<%= dom_id city %>">
  <p>
    <strong>Name:</strong>
    <%= city.name %>
  </p>
  <%= image_tag(city.image) %>
  <p>
    <strong>Country:</strong>
    <%= city.country %>
  </p>

  <p>
    <strong>Highlights:</strong>
    <%= city.highlights %>
  </p>

</div>
