<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="container-fluid">
    <%= link_to "Bon Voyage" , root_path, class:'navbar-brand'%>
    
    <%= link_to "Add New City" , new_city_path, class:'navbar-brand'%>
    <%= link_to "Sign Up", new_user_registration_path, class: 'navbar-brand'%>
    <%= link_to "Login" , user_session_path, class: 'navbar-brand'%>
    <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: 'navbar-brand'%>

  </div>
</nav>